body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;

}

header{
	background: black;
    position: fixed;
    width: 100%;
    height: 80px;
	border-bottom: #FFB302 5px solid;
	z-index: 12;
}

header nav{
	float: right;
	margin-top: -47px;
	color: #FFB302;
}

header ul{
	margin: 0;
	padding: 0;
}

header li{
	float: left;
	display: inline;
	margin-top: -12px;
	margin-right: 15px;
	padding: 0 20px 0 20px;
}

header a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;

}

header .current a{
	color: #FFB302;
}

.name{
	color: #FFB302;
	margin-top: -8px;
	margin-left: 25px;
	font: 20px Garamond;
}

.newBody{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container{
	position: relative;
	width: 1150px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.container .card{
	position: relative;
	width: 300px;
	height: 420px;
	background: black;
	margin: 20px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 255px 225px rgba(0,0,0,0.2);
	
}

.container .card .circle{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFB302;
	clip-path: circle(180px at center 70%);

}

.container .card h2{
	color: #FFB302;
	text-decoration: none;
	text-align: center;
	font-size: 40px;
	font-family: Yellowtail;
	
}

.container .card a{
	text-decoration: none;
	color: #FFB302;
}

.container .card .longName h2{
	color: #FFB302;
	text-align: center;
	font-size: 28px;
	font-family: Yellowtail;
	
}


.container .card p{
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: Redressed;
	font-weight: bold;
	margin-top: 200px;
	
}

.container .card .content a{
	color: black;
}